/* @import "./assets/css/reset.css"; */
@import "./../node_modules/codemirror/lib/codemirror.css";
@import "./../node_modules/codemirror/theme/dracula.css";
@import "./assets/css/fonts.css";
.App {
  font-family: "montserrat-regular";
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainContentWrap {
  max-width: 1199px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  margin-bottom: 75px;
  text-align: left;
}
.grid-container {
  display: grid;
  text-align: left;
}
.grid-mainContent {
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  grid-template-rows: repeat(2, auto);
}
.grid-secContent {
  grid-template-columns: 1fr;
}
#jsonEditor-outer-box {
  text-align: left;
}
.codeEditor .CodeMirror {
  height: 550px;
}
.form-error {
  font-weight: bold;
  color: red;
  margin-bottom: 0;
}
.radio-class {
  margin: 0;
}
.radio-class {
  font-family: "montserrat-regular";
}
.minorInput {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 1em;
}
.cta-btn:not(:last-child) {
  margin-right: 15px;
}
.navBarLogo {
  width: 36px;
  margin-right: 10px;
}
.resultWrap {
  margin: 30px 0;
}
.warningWrap {
  font-family: "montserrat-semibold";
  padding: 15px;
  border: 3px solid #ffae1b;
  margin: 30px 0;
  border-width: 2px 2px 2px 5px;
  max-height: 600px;
  overflow: auto;
}
.warningList {
  margin-top: 15px;
}
.warningList {
  padding-left: 0px;
  /* list-style: decimal outside; */
  list-style: none;
  margin-bottom: 0;
}
.warningListWrap:not(:last-child) {
  margin-bottom: 30px;
}
.warning__head {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  column-gap: 7px;

  margin-bottom: 24px;
  margin-top: 10px;
}
.warningListHeading {
  margin-bottom: 20px;
}
.warningList__item {
  font-size: 15px;
}
.warningList__item:not(:last-child) {
  margin-bottom: 10px;
}
.warningList__item--lineNo {
  background-color: #ffae1b;
  padding: 5px;
  display: inline-block;
  color: #fff;
  border-radius: 5px;
}
.resultViewer .CodeMirror-cursors {
  display: none;
}
.resultHead {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.resultHead__heading {
  margin-bottom: 0;
  margin-right: 15px;
}
.result__download {
  top: 60px;
  z-index: 3;
  right: 10px;
}
.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-break: break-word;
}
.emptyTag {
  margin: 15px 0;
  padding: 10px;
  background: #ccc;
}
.emptyTag__list {
  padding-left: 0;
  list-style: none;
}
.emptyTag__name--value {
  font-size: 15px;
  font-weight: 700;
  color: #ff0000;
}
